@import '../app/app.scss';

.beans{
    width: 100%;
    margin-top: 72px;
    &_wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-ph{
            filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.25));
        }
        &_text{
            margin: 0 auto;
            width: 589px;
            &-title{
                @include font($black, 400, 24px, 34px);
                margin-bottom: 20px;
                text-align: center;
            }
            &-extremity{
                margin-bottom: 15px;
                margin-top: 40px;
                text-align: center;
            }
            p{
                @include font($black, 400, 15px, 20px);
                text-align: center;
            }
        }
    }
    .container{
        hr{
            width: 240px;
            height: 1px;
            background-color: $black;
            margin: 0 auto;
            margin-top: 60px;
            box-sizing: content-box;
            border: none;
            overflow: visible;
        }
    }
}


